:root{
    --cor-fundo-navbar: #555;
    --cor-fundo-titulos: #123456;
    --cor-fonte-principal: #fff;
    --cor-fonte-secundaria: #555;
}
*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.principal{
    width: 100vw;
    height: 100%;
}
header .navbar #navbar-imagem{
    width: 100%;
    height: 100%;
    filter: brightness(33%);
}
header .navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header .navbar .navbar-display-flex{
    display: flex;
    background-color: var(--cor-fundo-navbar);
    padding: 0 40px;
    list-style-type: none;
    text-align: center;
    color: var(--cor-fonte-principal);
}
header .navbar .navbar-display-flex .navbar-titulo{
    padding: 30px 190px;
    font-size: 1.3rem;
}
header .navbar ul li a{
    text-decoration: none;
    color: var(--cor-fonte-principal);
    padding: 50%;
}
header .navbar ul li a:hover{
    background-color: #333;
    border-radius: 10px;
}
main .titulos-principais{
    background-color: var(--cor-fundo-titulos);
    color: var(--cor-fonte-principal);
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--cor-fundo-navbar);
}
main #inicio, #sobre, #contato{
    width: 100%;
    height: 15vh;
}
main div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    text-align: center;
    margin: 2%;
}
main figure img{
    width: 30vw;
    height: 40vh;
    object-fit:cover;
    margin: 2%;
    padding: 2%;
}
main figure img:hover{
    transform: scale(1.2);
    transition: .5s;
    scroll-margin-left: inherit;
}
main figure img:hover::before{
    border: 1px solid red;
    border-radius: 10px
}
footer{
    background-color: var(--cor-fundo-navbar);
    text-align: center;
}
footer .rodape{
    font-size: 12px;
    color: var(--cor-fundo-titulos);
}
