footer{
    background-color: #666;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
footer .rodape{
    font-size: 12px;
    margin: 10px;
    color: #123456;
}
